<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2ad90161-f117-4cd8-981d-5acfa92edde3" Version="1.0.0.0" Publisher="CN=sisaacs" />
  <Properties>
    <DisplayName>WinJS Controls Sample</DisplayName>
    <PublisherDisplayName>Scott Isaacs</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="WinJS Controls Sample" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="WinJS Controls Sample" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="noLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>